/**
* head2.php
**/
html, body {height:100%;}
body {padding-left:180px;}
body > .side {width:180px;height:100%;position:absolute;left:0;top:0;z-index:10;background:#777;}
body > .side > .logo {height:80px;line-height:80px;font-size:18pt;font-weight:bold;color:#FFF;cursor:pointer;}
body > .side > .menuWrap {border-top:1px solid rgba(255,255,255,0.3);}
body > .side > .menuWrap > .e {height:45px;line-height:44px;border-bottom:1px solid rgba(255,255,255,0.3);color:#FFF;font-size:10pt;background:rgba(255,255,255,0.1);}
body > .side > .menuWrap > .e:hover {background:rgba(255,255,255,0.2);cursor:pointer;}
body > .side > .menuWrap > .e > a {width:100%;height:100%;display:block;}
body > .side > .menuWrap > .e > a:hover {text-decoration:none;}
body > .main {width:100%;height:100%;overflow-y:scroll;}
body > .main > .inner {width:100%;min-width:730px;padding:20px;overflow:hidden;}

@media (max-width:980px){
	body > .main {overflow-x:scroll;}
}